<mat-drawer-container class="layout-container" autosize>
  <mat-drawer #drawer class="layout-sidenav" mode="side" opened="true">
    <logo></logo>
    <app-aside-menu></app-aside-menu>
  </mat-drawer>

  <div class="layout-sidenav-content">
    <!-- <div class="layout-sidenav-visible">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->

    <div class="layout__container">
      <div>
        <!-- <app-layout-header></app-layout-header> -->
        <app-toolbar (onMenu)="drawer.toggle()" />
      </div>

      <div class="container mx-auto layout__content">
        <router-outlet></router-outlet>
      </div>

      <app-layout-footer></app-layout-footer>
    </div>
  </div>
</mat-drawer-container>
