<mat-card class="form__wrap">
  <mat-card-content>
    <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <form-title> {{ title }} </form-title>

      <input-control label="{{ dataEs.username }}">
        <input
          class="form__input"
          type="username"
          formControlName="username"
          placeholder="Ingrese {{ dataEs.username }}"
        />
      </input-control>

      <input-control label="{{ dataEs.password }}">
        <input
          class="form__input"
          type="password"
          formControlName="password"
          placeholder="Ingrese su {{ dataEs.password }}"
        />
      </input-control>

      <input-control label="Repita su {{ dataEs.password }}">
        <input
          class="form__input"
          type="password"
          formControlName="cPassword"
          placeholder="Repita su {{ dataEs.password }}"
        />
      </input-control>

      <select-control label="{{ dataEs.role }}">
        <select class="form__input form-select" formControlName="role">
          <option [value]="null" selected disabled>Seleccione {{ dataEs.role }}...</option>
          <option *ngFor="let role of roles" [value]="role">{{ roleEs[role] }}</option>
          <option *ngIf="loadRole$ | async"><loader></loader>></option>
        </select>
      </select-control>

      <loader *ngIf="(load$ | async)" [container]="true" />

      <div class="btn__wrap">
        <submit-control>
          <button class="form__btn" type="submit">Guardar</button>
        </submit-control>

        <submit-control>
          <button class="form__btn" type="button" (click)="onReturn()">Volver</button>
        </submit-control>
      </div>
    </form>
  </mat-card-content>
</mat-card>
