<logo type="in-auth"></logo>

<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="login()">
  <form-title> Login </form-title>

  <input-control label="Correo">
    <input class="form__input" type="email" formControlName="email" placeholder="Correo electrónico" />
  </input-control>

  <input-control label="Contraseña">
    <input class="form__input" type="password" formControlName="password" placeholder="Ingrese su contraseña" />
  </input-control>


  <submit-control>
    <button class="form__btn" [disabled]="form.invalid" type="submit"> Login </button>
  </submit-control>

  <div class="flex flex-col items-center pt-10">
    <span class="pb-3">
      <a routerLink="/auth/forgot-password" class="link-primary fs-6 fw-bolder" [style.margin-left]="'5px'">
        ¿Olvido su contraseña?
      </a>
    </span>

    <a routerLink="/auth/register"> ¿No tienes cuenta? </a>
  </div>
</form>
