<form class="form w-100" [formGroup]="form" novalidate="novalidate" (ngSubmit)="submit()">
  <form-title>Establecer Contraseña</form-title>

  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        El código ya caduco o es inválido
      </div>
    </div>
  </ng-container>

  <input-control label="Contraseña">
    <input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off"
      formControlName="password"
      [ngClass]="{'is-invalid': form.controls['password'].invalid, 'is-valid': form.controls['password'].valid}" />
  </input-control>

  <submit-control>
    <button type="submit" class="mb-5 btn btn-lg btn-primary w-100" [disabled]="form.invalid">
      Continuar
    </button>
  </submit-control>
</form>
