/* .mat-mdc-card-content {
  padding: 24px;

  &:first-child {
    padding-bottom: 24px;
  }
  &:last-child {
    padding-top: 24px;
  }
}
 */

 .mdc-data-table__header-cell {
  &.text-center {
    text-align: center;
  }
 }
