<form
  class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
  novalidate="novalidate"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>

  <!--begin::Title-->
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">Olvido su contraseña ?</h1>
    <div class="text-gray-400 fw-bold fs-4">
      Ingrese su correo electrónico para restablecer su contraseña.
    </div>
  </div>
  <!--end::Title-->

  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Lo sentimos, parece que se han detectado algunos errores, inténtalo de nuevo.
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="errorState === errorStates.NotFound">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Correo electrónico inválido!
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-success p-8 rounded">
      <div class="text-success">Restablecimiento de contraseña enviado. Por favor revise su correo electrónico</div>
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fw-bolder text-gray-900 fs-6">Email</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="email"
      formControlName="email"
      placeholder="Email"
      name="email"
      autocomplete="off"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email es requerido',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Correo electrónico inválido',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'El correo electrónico debe tener al menos 8 caracteres',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'El correo electrónico debe tener un máximo de 360 caracteres',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-4">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-lg btn-primary fw-bolder me-4"
      [disabled]="forgotPasswordForm.invalid"
    >
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Enviando...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
      <ng-container *ngIf="!(isLoading$ | async)">
        <span class="indicator-label">Enviar</span>
      </ng-container>
    </button>
  </div>
  <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="fw-bolder"
    >
    <i class="fa fa-chevron-left"></i>
      Volver al listado
    </a>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container invalid-feedback">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
