<form class="form w-100" novalidate="novalidate" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
  <form-title> Olvido su contraseña? </form-title>

  <span> Ingrese su correo electrónico para restablecer su contraseña. </span>

  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Lo sentimos, parece que se han detectado algunos errores, inténtalo de nuevo.
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="errorState === errorStates.NotFound">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Correo electrónico inválido!
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="p-8 mb-10 rounded bg-light-success">
      <div class="text-success">Restablecimiento de contraseña enviado. Por favor revise su correo electrónico</div>
    </div>
  </ng-container>

  <input-control label="Email">
    <input class="form-control form-control-lg form-control-solid" type="email" formControlName="email"
      placeholder="Email" name="email" autocomplete="off">
  </input-control>

  <submit-control>
    <button type="submit" class="form__btn" [disabled]="forgotPasswordForm.invalid">
      <spinner *ngIf="isLoading$ | async"></spinner> Enviar
    </button>
  </submit-control>

  <a routerLink="/auth/login" class="fw-bolder">
    <i class="fa fa-chevron-left"></i> Volver al listado
  </a>
</form>
