<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
  <form-title> Crear Cuenta </form-title>

  <input-control label="Correo">
    <input class="form__input" type="email" formControlName="email" placeholder="Correo electrónico" />
  </input-control>

  <input-control label="contraseña">
    <input class="form__input" type="password" formControlName="password" placeholder="Ingrese su contraseña" />
  </input-control>

  <input-control label="Repita su contraseña">
    <input class="form__input" type="password" formControlName="cPassword" placeholder="Repita su contraseña" />
  </input-control>

  <submit-control>
    <button class="form__btn" [disabled]="form.invalid" type="submit">
      Crear Cuenta
    </button>
  </submit-control>

  <div class="flex flex-col items-center pt-10">
    <a routerLink="/auth/login"> Volver a Ingresar </a>
  </div>
</form>
