<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="24">
    <!-- <button mat-icon-button (click)="openView()">{{node.name}}</button> -->
    <button class="menu__button" mat-icon-button routerLink="{{ node.link }}">
      <span>
        <i class="{{ node.icon }}"></i>
        {{ node.name }}
      </span>
    </button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="24">
    <button class="menu__button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
      <span>
        <i class="{{ node.icon }}"></i>
        {{ node.name }}
      </span>
    </button>
  </mat-tree-node>
</mat-tree>
